@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* width */
::-webkit-scrollbar {
  width: 7px;
  cursor: pointer;
}

/* Track */
::-webkit-scrollbar-track {
  background: #1c1e25;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #555;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #fff;
}

.bg-gradient {
  background: linear-gradient(
    to top,
    #0040ff,
    /* Blue - start color */ #00aaff,
    /* Light blue - end color */
  );
}

.gloria-logo {
  cursor: pointer;
  position: relative;
  animation: moveUpDown 2s ease-out infinite;
  transition: transform 0.3s;
}

.gloria-logo:hover {
  animation-play-state: paused;
}

@keyframes moveUpDown {
  0% {
    top: 0;
  }
  50% {
    top: -25px;
  }
  100% {
    top: 0;
  }
}
